body{
    background: chocolate;
    font-family: Verdana;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fbm-border-standard: 1px solid rgba(0, 0, 0, .2);
    --fbm-padding-standard: 10px 20px;
    --fbm-color-text: crimson;
    --fbm-color-primary: goldenrod;
}
#fbm-logo{
    width: 200px;
    height: 150px;
}
.fbm-logo-wrapper{
    height: inherit;
    width: inherit;
}
#fbm-logo img#fbm-logo-img{
    display: block;
    width: inherit;
    height: inherit;

}
.fbm-parent{
    position: relative;
}
.fbm-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fbm-countdown{
    font-size: 24px;
    text-align: center;
    background: var(--fbm-color-primary);
    padding: 100px;
}
#fbm-countdown > .fbm-countdown-wrapper > div[id]{
    margin: 0 10px;
    font-size: 50px;
    color: var(--fbm-color-text);
    border: var(--fbm-border-standard);
    padding: var(--fbm-padding-standard);
}
#fbm-countdown > .fbm-countdown-wrapper {
	display: flex;
	margin-top: 20px;
}
.fbm-upcoming-event-heading {
	font-size: 25px;
}